.index-title-s {
    /* display: inline-block; */
    /* font-size: 30%;
    margin-top: 3%; */
    font-size: 50%;
    margin-top: 2%;
    /* vertical-align: bottom */
}

.index-title-l {
    /* color: red; */
    font-weight: 550;
    color: greenyellow;
    /* display: inline-block; */
    /* font-size: 30%; */
    /* margin-top: 3%; */
    /* vertical-align: bottom */
}


.index-title-c {
    color: greenyellow;
    font-weight: 800;
}

/* 234,67,53 */
/* 251,188,5 */
/* 66,133,244 */
/* 52,168,83 */
/* 117,82,71 */

.index-title-1 {
    color: rgb(234, 67, 53);
    font-weight: 800;
}
.index-title-2 {
    color: rgb(251, 188, 5);
    font-weight: 800;
}
.index-title-3 {
    color: rgb(66, 133, 244);
    font-weight: 800;
}
.index-title-4 {
    color: rgb(52, 168, 83);
    font-weight: 800;
}
.index-title-5 {
    color: rgb(117, 82, 71);
    font-weight: 800;
}

.highlight {
    display: flex;
    justify-content: center;
    vertical-align: bottom;
    /* margin-top: auto; */
}